.app {
  margin: 0 auto;
  background-color: antiquewhite;
  height: 20vh;
  border: 1px solid green;
}
@media screen and (min-width: 1200px) {
  .app {
    width: 80vw;
    background-color: lightblue;
  }
}
@media screen and (min-width: 900px) {
  .app {
    width: 90vw;
  }
}
