/* General setup */

html {
    font-family: sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  /* info-box setup */

  .info-box {
    width: 452px;
    height: 400px;
    margin: 20px auto 0;
  }

  /* styling info-box tabs */

  .info-box ul {
    border: 1px solid #b60000;
    overflow: hidden;
    height: 50px;
    margin: 0;
    padding: 0;
  }

  .info-box li {
    float: left;
    list-style-type: none;
    width: 150px;
  }

  .info-box li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    line-height: 50px;
    background: white;
    color: #b60000;
    text-align: center;
    font-weight: bold;
  }

  .info-box li a:focus,
  .info-box li a:hover {
    background-color: #b60000;
    color: white;
  }

  .info-box li a.active-tab {
    background-color: #b60000;
    color: white;
  }

  /* styling info-box panels */

  .info-box .panels {
    clear: both;
    position: relative;
    height: 352px;
  }

  .info-box article {
    background-color: #b60000;
    color: white;
    position: absolute;
    padding: 10px 20px;
    height: 352px;
    top: 0;
    left: 0;
  }

  .info-box .active-panel {
    z-index: 1;
  }